*{
    text-align: center;
}
body, html{
    margin: 0;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.invisible {
    position: absolute;
    width: 0px;
    height: 0px;
    display: none;
}
.Settings, #pomodoro{
    margin: auto;
}
.body{
    height: 100%;
    margin: auto;
    width: 100%;
}
#pomodoro{
    cursor: default;
    width: 100%;
}
.btn{
    cursor: pointer;
    width: 100%;
    height:65px;
    text-align: center;
    line-height: 65px;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0px black solid;
    color: white;
}
.btn-primary{
    background-color: #33B4F5;
}
.btn-setting{
    background-color: #F13B3A;
}
.input-number ::-webkit-inner-spin-button,
.input-number ::-webkit-outer-spin-button {
      -webkit-appearance: none;
}
.input-number {
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    width: 100px;
    border-radius: 10px;
}
.input-number :focus {
    outline: none;
    border-radius: 10px;
}
.select {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}
#alarm{
    width: 100%;
}
.theme-btn{
    cursor: pointer;
    border: 0px;
    padding: 10px;
    width: 50px;
    height: 50px;
}
.bi{
    display: block;
    margin: auto;
}
.theme-btn-first{
    border-radius: 10px 0px 0px 10px;
}
.theme-btn-last{ 
    border-radius: 0px 10px 10px 0px;
}
